.padre {
background-color: yellow;
padding: 50px;
margin:20px;
}

.hijo{
border:1px solid black;
background-color: red;
padding: 50px;
margin:20px;
}

div{
	height: 100px;
	width: 300px;
display:inline-block;	
}